{% extends 'app/base.html' %}
{% load static %} 

{% block content %}    
    <div class="text-center">
        <h3 class="" >Добро пожаловать в автоматизированную систему управления технологическим процессом предприятия!</h3>
        <hr>
        <div style="width: 80%; margin: auto;">
            <h4 class="" >Для просмотра и редактирования сводной информации о качественных показателях 
                железорудного концентрата пройдите на вкладку "Отчет".</h4>
            <h4>Просмотр отчета доступен авторизованным пользователям.</h4>
        </div>
    </div>

{% endblock %}