<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiningMetrics</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style>
        /* 
        #98fb98
        */
        body {           
                        
        }
        .nav-text-color{
            color: #9db4ca;
        }
        .a-white {
            color: #fff;
        }
        .container {            
            height: 100vh;           
            margin-top: 3rem;            
            margin-left: 0;
        }
        .navbar-default {
            background-color: #264653;
            border-color: #1E3842;
        }
        .navbar-default .navbar-brand {
            color: #fff;
        }
        .navbar-default .navbar-nav > li > a {
            color: #fff;
        }
        .menu-default {
            padding-top: 7px;
            background-color: #264653;
            border-color: #1E3842;
            margin-right: 15px;
            height: 100vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">                
                <a class="navbar-brand" href="">MiningMetrics</a>
                <a class="navbar-brand" href="">Report</a>
            </div>
        </div>
    </nav>

   

    
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 10px 10px 10px 10px;">
            Выберите дату отчета
        </a>
    
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for date in object_list %}
                <input type="hidden" name="date_id" value="{{ date.id }}">
                <input class="dropdown-item" type="button" value="{{ date.date }}" onclick="loadData('{{ date.id }}')">
            {% endfor %}
        </div>
  </div>

  <div id="spreadsheet"></div>

</body>
</html>

<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<script>
    const table = jspreadsheet(document.getElementById('spreadsheet'), {
        columns: [
            { title: 'Время записи', width: 200 },
            { title: 'Наименование сырья', width: 200 },
            { title: 'Железо, %', width: 100 },
            { title: 'Кремний, %', width: 100 },
            { title: 'Алюминий, %', width: 130 },
            { title: 'Кальций, %', width: 100 },
            { title: 'Сера, %', width: 100 },
        ],
        
    });
    //var total = [ 'Total', '-', '=SUM(C1:C2)', '=SUM(D1:D2)', '=SUM(E1:E2)' ];
    var SUMCOL = function(instance, columnId) {
        var total = 0;
        for (var j = 0; j < instance.options.data.length; j++) {
            if (Number(instance.records[j][columnId].innerHTML)) {
                total += Number(instance.records[j][columnId].innerHTML);
            }
        }
        return total;
    }

    var AVGCOL = function(instance, columnId) {
        var sum = SUMCOL(instance, columnId);
        return sum / instance.options.data.length;
    }

    var MINCOL = function(instance, columnId) {
        var min = Infinity;
        for (var j = 0; j < instance.options.data.length; j++) {
            var value = Number(instance.records[j][columnId].innerHTML);
            if (value && value < min) {
                min = value;
            }
        }
        return min;
    }
    
    var MAXCOL = function(instance, columnId) {
        var max = -Infinity;
        for (var j = 0; j < instance.options.data.length; j++) {
            var value = Number(instance.records[j][columnId].innerHTML);
            if (value && value > max) {
                max = value;
            }
        }
        return max;
    }

    function loadData(date_id) {
        const url = `http://127.0.0.1:8000/api/v1/report/${date_id}`;
        var arrayOfArrays = [];
        var footers = [];
        fetch(url)
            .then(response => response.json())
            .then(data => {
                arrayOfArrays = data.map(obj => Object.values(obj));
                table.setData(arrayOfArrays);

                footers = [
                    [
                        'Среднее','-', '=AVGCOL(table(), 2)',
                        '=AVGCOL(table(), 3)','=AVGCOL(TABLE(), 4)',
                        '=AVGCOL(TABLE(), 5)', '=AVGCOL(TABLE(), 6)'
                    ],
                    [
                        'Максимальное','-', '=MAXCOL(table(), 2)',
                        '=MAXCOL(table(), 3)','=MAXCOL(TABLE(), 4)',
                        '=MAXCOL(TABLE(), 5)', '=MAXCOL(TABLE(), 6)'
                    ],
                    [
                        'Минимальное','-', '=MINCOL(table(), 2)',
                        '=MINCOL(table(), 3)','=MINCOL(TABLE(), 4)',
                        '=MINCOL(TABLE(), 5)', '=MINCOL(TABLE(), 6)'
                    ]
                ];
                table.setFooter(footers)
            });
    }
</script>



{% comment %} 
data = fetch('http://127.0.0.1:8000/api/v1/report/')
        .then(response => response.json())
        .then( response => {
            console.log(response);
        });

    jspreadsheet(document.getElementById('spreadsheet'), {
        data:data,
        //url:'http://127.0.0.1:8000/api/v1/report/',
        columns:[
            { title:'Время записи', width:100 },
            { title:'Наименование сырья', width:100 },
            { title:'Железо, %', width:100 },
            { title:'Кремний, %', width:100 },
            { title:'Алюминий, %', width:100 },
            { title:'Кальций, %', width:100 },
            { title:'Сера, %', width:100 },
            
        ],
            
    }); {% endcomment %}