{% extends 'app/base.html' %}
{% load static %} 

{% block content %}    
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 10px 10px 10px 10px;">
            Выберите дату отчета
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for date in object_list %}
                <input type="hidden" name="date_id" value="{{ date.id }}">
                <input class="dropdown-item" type="button" value="{{ date.date }}" onclick="loadData('{{ date.id }}')">
            {% endfor %}
        </div>
        
    </div>

    <div style="padding-left: 10px" id="spreadsheet"></div>

    <div class="text-center">
        <button class="btn btn-outline-success"  id="save-btn">Сохранить данные</button>
    </div>


<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<script>
    const table = jspreadsheet(document.getElementById('spreadsheet'), {
        columns: [
            { title: 'Время записи', width: 200 },
            { title: 'Наименование сырья', width: 200 },
            { title: 'Железо, %', width: 100 },
            { title: 'Кремний, %', width: 100 },
            { title: 'Алюминий, %', width: 130 },
            { title: 'Кальций, %', width: 100 },
            { title: 'Сера, %', width: 100 },
        ],
        
    });
    
    var SUMCOL = function(instance, columnId) {
        var total = 0;
        for (var j = 0; j < instance.options.data.length; j++) {
            if (Number(instance.records[j][columnId].innerHTML)) {
                total += Number(instance.records[j][columnId].innerHTML);
            }
        }
        return total;
    }

    var AVGCOL = function(instance, columnId) {
        var sum = SUMCOL(instance, columnId);
        return (sum / instance.options.data.length).toFixed(2);
    }

    var MINCOL = function(instance, columnId) {
        var min = Infinity;
        for (var j = 0; j < instance.options.data.length; j++) {
            var value = Number(instance.records[j][columnId].innerHTML).toFixed(2);
            if (value && value < min) {
                min = value;
            }
        }
        return min;
    }
    
    var MAXCOL = function(instance, columnId) {
        var max = -Infinity;
        for (var j = 0; j < instance.options.data.length; j++) {
            var value = Number(instance.records[j][columnId].innerHTML).toFixed(2);
            if (value && value > max) {
                max = value;
            }
        }
        return max;
    }

    var url = '';
    var report_month;
    
    function loadData(date_id) {
        report_month = date_id
        url = `http://127.0.0.1/api/v1/report/${date_id}`;
        var arrayOfArrays = [];
        var footers = [];
        fetch(url)
            .then(response => response.json())
            .then(data => {

                // Исключаем из json информацию о месяце отчета,
                // чтобы не отображать его в таблице
                const newData = data.map(obj => {
                    const newObj = {};
                    Object.entries(obj).forEach(([key, value], index, array) => {
                      if (index !== array.length - 1) {
                        newObj[key] = value;
                      }
                    });
                    return newObj;
                  });

                arrayOfArrays = newData.map(obj => Object.values(obj));
                
                // Заполняем таблицу данными нужного месяца
                table.setData(arrayOfArrays);

                footers = [
                    [
                        'Среднее','-', '=AVGCOL(table(), 2)',
                        '=AVGCOL(table(), 3)','=AVGCOL(TABLE(), 4)',
                        '=AVGCOL(TABLE(), 5)', '=AVGCOL(TABLE(), 6)'
                    ],
                    [
                        'Максимальное','-', '=MAXCOL(table(), 2)',
                        '=MAXCOL(table(), 3)','=MAXCOL(TABLE(), 4)',
                        '=MAXCOL(TABLE(), 5)', '=MAXCOL(TABLE(), 6)'
                    ],
                    [
                        'Минимальное','-', '=MINCOL(table(), 2)',
                        '=MINCOL(table(), 3)','=MINCOL(TABLE(), 4)',
                        '=MINCOL(TABLE(), 5)', '=MINCOL(TABLE(), 6)'
                    ]
                ];
                table.setFooter(footers)
            });
    }

    $('#save-btn').click(function() {
        saveToDB();
      });
    
    const csrftoken = '{{ csrf_token }}';

    function formatReportData(values) {
        const keys = [
            "time_create", "material_name", "ferrum", "silicium",
            "aluminum", "calcium", "sulfur", 
        ];
        const result = values.map(arr => {
            const obj = {};
            keys.forEach((key, index) => {
              obj[key] = arr[index];

            });
            obj["report_month"] = report_month;
            return obj;
          });
        return result;
    }
    

    function saveToDB() {
        // Получение данных из таблицы
        //const data = table.getJson();
        data = formatReportData(table.getData())
        fetch(url + '/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data)
          })
          .then(response => {
            if (response.ok) {
              alert('Данные успешно сохранены!');
            } else {
              throw new Error('Ошибка сохранения данных');
            }
          })
          .catch(error => {
            console.error(error);
            alert('Ошибка сохранения данных: ' + error.message);
          });
      }
</script>
{% endblock %}