<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />

<div id="spreadsheet"></div>





<script>


    jspreadsheet(document.getElementById('spreadsheet'), {
        url:'http://127.0.0.1:8000/api/v1/report/',
        columns:[
            { title:'Время записи', width:100 },
            { title:'Наименование сырья', width:100 },
            { title:'Железо, %', width:100 },
            { title:'Кремний, %', width:100 },
            { title:'Алюминий, %', width:100 },
            { title:'Кальций, %', width:100 },
            { title:'Сера, %', width:100 },
            
        ],
            
    });
</script>